body {
  font-family: "宋体", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clear:after,
.box:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.box {
  width: 1200px;
  margin: 0 auto;
}
.title {
  padding-top: 40px;
  margin-bottom: 40px;
  color: #e60012;
  font-weight: 600;
  background: url(../../../ui/datang/images/travker/title.jpg) 0 79px repeat-x;
  font-family: "黑体", sans-serif;
  font-size: 24px;
}
.title p {
  display: inline-block;
  font-size: 24px;
  border-bottom: 4px solid #e60012;
  padding-bottom: 12px;
}
.title a {
  float: right;
  color: #e60012;
  line-height: 40px;
  font-size: 16px;
  font-family: "宋体", sans-serif;
}
.arrow {
  position: absolute;
  width: 40px;
  height: 80px;
  cursor: pointer;
  color: #FFF;
  top: 280px;
  z-index: 2;
}
.arrow-right {
  background: url(../../../ui/datang/images/travker/next_right01.png) no-repeat center center;
  right: 106px;
}
.arrow-right:hover {
  background: url(../../../ui/datang/images/travker/next_right02.png) no-repeat center center;
}
.arrow-left {
  background: url(../../../ui/datang/images/travker/next_left01.png) no-repeat center center;
  left: 106px;
}
.arrow-left:hover {
  background: url(../../../ui/datang/images/travker/next_left02.png) no-repeat center center;
}
.nav-title {
  width: 520px;
  padding: 0 340px;
  background: url(../../../ui/datang/images/travker/line.jpg) repeat-x;
  margin-bottom: 40px;
}
.nav-title li {
  float: left;
  color: #7b7b7c;
  width: 140px;
  padding: 0 60px;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
}
.nav-title .active-text {
  border-bottom: 1px solid #e60012;
  line-height: 60px;
  color: #e60012;
}
.return a:hover div {
  background-color: #f37a09;
}
.area {
  position: relative;
}
.area .area-content a {
  display: inline-block;
  position: relative;
  margin-right: 18px;
  margin-bottom: 20px;
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.area .area-content a:before {
  content: " ";
  display: block;
  position: absolute;
  height: 280px;
  width: 280px;
  background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
}
.area .area-content div {
  width: 120px;
  height: 136px;
  line-height: 30px;
  background: url(../../../ui/datang/index/liubianxing.png);
  position: absolute;
  z-index: 1;
  top: 160px;
  right: 0;
  text-align: center;
  color: #fff;
}
.area .area-content div h2 {
  margin-top: 40px;
}
.area .swiper-button {
  top: 410px;
}
.area-content a:nth-child(4) {
  margin-right: 0;
}
